# Facephi registry credentials (prod)
@facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNllWcHZNMmw2YzJOdVRESnljVUp2UVZoRFluSlBWRXhYWWxobQ==
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:username=maybecloudes01
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:email=maybecloudes01@facephi.com
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:always-auth=true